@import "./responsive.scss";

@mixin Padding {
    padding: 0 11.25rem;

    @include Phone {
        padding: 0 1rem;
    }

    @include Tablet {
        padding: 0 2rem;
    }

    @include Laptop {
        padding: 0 3rem;
    }
}