@import "../../styles/mixins/colors.scss";
@import "../../styles/mixins/padding.scss";
@import "../../styles/mixins/fonts.scss";
@import "../../styles/mixins/responsive.scss";

.container {
    @include Padding;
    padding-bottom: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        @include SizeLarge;
        font-weight: bold;
    }

    p {
        @include SizeNormal;
        margin-bottom: 8rem;
        opacity: 0.7;
    }

    h1,
    p {
        width: 840px;
        text-align: center;
    }

    @include Phone {
        margin-bottom: 6rem;

        p {
            margin-bottom: 2rem;
        }

        h1,
        p {
            width: 100%;
        }
    }

    @include Tablet {
        margin-bottom: 6rem;

        p {
            margin-bottom: 3rem;
        }

        h1,
        p {
            width: 100%;
        }
    }

    @include Laptop{
        p{
            margin-bottom: 6rem;
        }
        
     }
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 68px;

    @include Phone {
        grid-template-columns: 1fr;
        gap: 35px;
    }

    @include Laptop {
        margin-bottom: 8rem;
    }
}

.feature {
    max-width: 509px;
    max-height: 347px;
    width: 100%;
    height: 100%;
    padding: 32px 36px;
    background-color: $white-color;
    border-radius: 5px;

    h2 {
        @include SizeMedium;
        font-weight: bold;
        color: $purple2-color;
    }

    p {
        @include SizeSmall;
        width: auto;
        color: $gray2-color;
        text-align: left;
    }

    @include Phone {
        padding: 20px;
    }
}