@import "../../styles/mixins/colors.scss";
@import "../../styles/mixins/padding.scss";
@import "../../styles/mixins/responsive.scss";
@import "../../styles/mixins/fonts.scss";

.container {
    @include Padding;
    margin-bottom: 208px;

    background-image: url("../../public/images/fundoWelcome.svg");
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px 207px;

    @include Phone {
        grid-template-columns: 1fr;
        margin-bottom: 6rem;
    }

     @include Tablet {
        gap: 25px 50px;
        margin-bottom: 6rem;
    }
}

.texts {
    span {
        @include SizeNormal;
        font-weight: 600;
        color: $green2-color;
    }

    h2 {
        @include SizeLarge;
        font-weight: bold;
    }

    p {
        @include SizeNormal;
        font-weight: 300;
        opacity: 0.7;
    }
}

.form {
    padding: 38px 31px;
    border: 0.5px solid $gray3-color;
    border-radius: 10px;
    background-color: $white-color;

    display: grid;
    gap: 30px;

    h3 {
        @include SizeMedium;
        margin: 0;
        font-weight: bold;
        color: $purple-color;
    }

    form {
        display: grid;
        gap: 23px;
    }

    @include Phone {
        padding: 1rem;

        form {
            gap: 1rem;
        }
    }

    @include Tablet {

        form {
            gap: 1rem;
        }
    }

}

.footer {
    padding: 0 8.1rem;
    grid-column-start: 2;
    text-align: center;
    font-size: 17px;
    line-height: 1.75rem;
    color: $white2-color;


    span {
        color: $white-color;
        cursor: pointer;
    }

    @include Phone {
        grid-column-start: 1;
        padding: 0 1rem;
    }

    @include Tablet {
        padding: 0 1rem;
    }
}